h1 {
    font-size: 30px;
}

.hero {
    background-image: url('../../../assets/hero-cover.webp');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    width: 50%;
    margin-left: 4rem
}

.hero-text h1 {
    color: red;
    font-weight: bolder;
}

.section-title {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-sub-title {
    height: 6px;
    width: 80px;
    margin-top: 1rem;
    background-color: #a8b79c;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
}

/* features */
.features {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.feature i {
    font-size: 3rem;
    vertical-align: center;
    margin-top: -10px;
}

/* end features */

/* festival */

.festival {
    text-align: center;
    padding: 3rem 0;
    background-color: #e8f4df;
}

.shop-btn {
    padding: 1rem;
    background-color: #198754;
    color: white;
    border: none;
    margin-top: 1rem;
}

/* festival end */
/* author of the week */

.author-week-section{
    display: flex;
    flex-direction: column;
}
.author-week-books {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.week-books {
    width: 600px;
    height: 70%;
}

.week-author {
    display: flex;
    gap: 1rem;
}

.author-details {
    display: flex;
    flex-direction: column;
}

.awards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* author of the week end */
/* discount */
.discount {
    background-image: url("../../../assets/promotion-cover.webp");
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 5rem;
}

.discount h1 {
    color: brown;
    font-weight: 700;
    padding: 0.5rem 0;
}

.discount .text {
    width: 50%;
}

.discount button {
    background-color: brown;
    color: white;
    padding: 1rem;
    border: none;
}

/* discount end */


@media (max-width:600px) {
    .hero {
        background-position: 60%;
        padding: 1rem;
        align-items: center;
    }

    .hero-text {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.759);
        padding: 1rem;
        margin: 0;
        text-align: center;
    }

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .author-week-books {
        display: flex;
        flex-direction: column;
    }

    .week-books {
        flex-direction: column;
        align-items: center;
    }

    .author-details,
    .week-author {
        flex-direction: column;
        align-items: center;
    }

    .discount {
        padding: 2rem 1rem;
    }

    .discount .text {
        background-color: rgba(255, 255, 255, 0.805);
        width: 100%;
        text-align: center;
        padding: 2rem;
    }
}