<div class="wrapper">
    <div class="login-box">
        <div class="logo">
            <h3>Reset password</h3>
            <div class="sub-logo"></div>
        </div>
        <div class="form-group">
            <label>Tap you email here</label>
            <input type="text" [(ngModel)]="email" name="email">
        </div>
   
        <div class="form-group">
            <input class="submit-btn" type="submit" value="Reset" (click)="sendResetToken()">
        </div> 
        <div class="form-group">
            <input class="submit-btn" type="submit" value="Annuler" (click)="annuler()">
        </div>
    </div>
</div>