<div class="wrapper">
    <div class="login-box">
        <div class="logo">
            <h3>Change password</h3>
            <div class="sub-logo"></div>
        </div>
        <div class="form-group" *ngIf="error">
            {{ error_message }}
        </div>
        <div class="form-group">
            <label>Enter the received token here</label>
            <input type="text" [(ngModel)]="token" name="token">
        </div>
        <div class="form-group">
            <label>Enter the new password</label>
            <input type="text" [(ngModel)]="new_password" name="new_password">
        </div>
        <div class="form-group">
            <label>Re-enter the new password</label>
            <input type="text" [(ngModel)]="new_password_check" name="new_password_check">
        </div>

        <div class="form-group">
            <input class="submit-btn" type="submit" value="Reset password" (click)="resetPassword()">
        </div>
        <div class="form-group">
            <input class="submit-btn" type="submit" value="Annuler" (click)="annuler()">
        </div>
    </div>
</div>