.section {
    padding-top: 3rem;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2em;
}


.section-title {
    padding: 20px 0;
}

@media (max-width:1000px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.3rem;
    }

}