/* book card */
.book-card {
    max-width: 350px;
    border: 1px solid rgb(226, 226, 226);
    overflow: hidden;
    padding-top: 1rem;
    position: relative;
    height: 100%;
}

.book-card:hover {
    border-color: black;
}


.book-image {
    height: 200px;
    text-align: center;
}

.book-image img {
    height: 100%;
}

.book-details {
    word-wrap: break-word;
    background-color: #ffffff;
    padding: 1rem;
}

.book-price {
    margin-top: 1rem;
    font-weight: 500;
}

.book-card:hover .book-details {
    transform: translateY(-50px);
}

.book-card:hover .book-card-actions {
    display: flex;
}

.book-card-actions {
    position: absolute;
    display: flex;
    align-items: center;
    display: none;
    justify-content: space-between;
    right: 0;
    left: 0;
    padding: 0 1rem;
}

.book-card-actions a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

.book-card-actions span {
    padding: 0.5rem;
    font-size: 25px;
}

.book-card .book-card-actions span:hover {
    cursor: pointer;

}

.whishlist:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 50px;
}

.book-card-actions a:hover {
    color: red;
    border-bottom: 2px solid red;
    cursor: pointer;
}