.pagination-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-page{
    display: block;
    text-decoration: none;
    color: #a8b79c;
    padding: 10px 20px;
    border: 1px solid #a8b79c;
    cursor: pointer;
    background-color: #fff;
}

.active{
    background-color: #a8b79c;
    color: #fff;
}
