.pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    list-style-type: none;
    margin-top: 30px;

}

.pagination-page {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #a8b79c;
    height: 40px;
    width: 40px;
    border: 1px solid #a8b79c;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
}

.active {
    background-color: #a8b79c;
    color: #fff;
}