.search-bar {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;

}

.search-bar input {
    padding: 5px 20px;
    width: 100%;
    outline: none;
}

.search-btn {
    background-color: #a8b79c;
    color: white;
    padding: 0 1rem;
    border: none;
}

.search-btn:hover {
    background-color: #7c8a71;
    cursor: pointer;
}


.empty-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}