.browse {
    min-height: 100vh;
    display: flex;
}

.content {
    padding: 20px;
    width: 100%;
}


.search-bar {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;

}

.search-bar input {
    padding: 5px 20px;
    width: 100%;
    outline: none;
}

.search-btn {
    background-color: #a8b79c;
    color: white;
    padding: 0 1rem;
    border: none;
}

.pagination {
    display: flex;
    justify-content: center;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width:600px) {
    .browse {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.alert-secondary {
    background-color: transparent;
    border: 1px solid #a8b79c;
}