<section class="container">
    <div class="browse">
        <div class="side-bar">
            <app-browse-filter></app-browse-filter>
        </div>
        <div class="content">
            <div class="search-bar">
                <input type="text" placeholder="search..." #search>
                <button class="search-btn" (click)="searchBook(search.value)">Search</button>
            </div>
            <div class="books-grid" *ngIf="(books$ | async) as books">
                <app-book-card *ngFor="let b of books" [book]="b"></app-book-card>
            </div>
            <div class="alert alert-secondary text-center" *ngIf="emptySearch">
                No book found
            </div>
            <div class="pagination" *ngIf="!emptySearch">
                <app-pagination (pageEvent)="changePage($event)" [pages]="totalPages"></app-pagination>
            </div>
        </div>
    </div>

</section>