<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="f-section">
                <a href="" class="f-logo">
                    <h1>Bookstore</h1>
                </a>
            </div>
            <div class="f-links">
                <a href="">Books</a>
                <a href="">Best sellers</a>
                <a href="">Top rated</a>
                <a href="">Featured books</a>
            </div>
            <div class="f-links">
                <a href="">Authors</a>
                <a href="">Featured</a>
                <a href="">Top authors</a>
                <a href="">Best sellers</a>
            </div>
            <div class="f-section">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, dicta dignissimos facere pariatur
                expedita eligendi repellendus est veniam excepturi deleniti veritatis reprehenderit voluptates
                temporibus voluptatum maiores porro mollitia necessitatibus vero.
            </div>
        </div>
    </div>
</div>