<section class="container footer">
    <h1>Bookly</h1>
    <div class="col">
        <a href="">Books</a>
        <a href="">Best Sellers</a>
        <a href="">Newest</a>
        <a href="">Featured</a>
    </div>
    <div class="col">
        <a href="">Authors</a>
        <a href="">Top Authors</a>
        <a href="">Favorite</a>
        <a href="">Links</a>
    </div>
    <div class="col">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas aperiam beatae labore dolore odio autem
            veniam hic optio accusamus cupiditate!</p>
    </div>
</section>