<div class="features">
    <div class="feature">
        <i class="bx bx-lock"></i>
        <div class="details">
            <h4>Secure paiment</h4>
            <p>100% secure payment</p>
        </div>
    </div>
    <div class="feature">
        <i class='bx bx-purchase-tag-alt'></i>
        <div class="details">
            <h4>Best price</h4>
            <p>Guarantee price</p>
        </div>
    </div>
    <div class="feature">
        <i class='bx bx-revision'></i>
        <div class="details">
            <h4>Free returns</h4>
            <p>Within 30 days returns</p>
        </div>
    </div>
    <div class="feature">
        <i class='bx bx-package'></i>
        <div class="details">
            <h4>Free shipping</h4>
            <p>Order over $100</p>
        </div>
    </div>
</div>