.features {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.feature{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.feature i{
    font-size: 3rem;
    vertical-align: center;
    margin-top: -10px;
}