/* .navbar {
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo h2 {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
}

.nav-menu,
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-action {
    margin-right: 10px;
    cursor: pointer;
}

i.bx {
    font-size: 30px;
}

.cart {
    position: relative;
}

.cart-item {
    position: absolute;
    background-color: rgb(232, 53, 13);
    color: white;
    top: -10px;
    font-size: 15px;
    right: -10px;
    padding: 0 7px;
    border-radius: 10px;
}

.active-link {
    border-bottom: 3px solid #869778;
    font-weight: bold;
}

.list-btn {
    display: none;
}



.profile-btn {
    position: relative;
}

.profile-btn:hover .sub-profile {
    display: block;
}

.sub-profile {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    background-color: white;
    list-style-type: none;
    width: 200px;
    text-align: center;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.17);
}

.sub-profile li a {
    color: #869778;
    display: block;
    padding: 10px 0;
    text-align: center;
}

.sub-profile li a:hover {
    background-color: #869778;
    color: white;
}

@media (max-width:500px) {
    .nav-menu {
        display: none;
    }

    .list-btn {
        display: block;
    }

    .nav-actions {
        gap: 0.3rem;
    }
} */

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}

header .logo {
    text-decoration: none;
    color: #333;
}

.nav-links {
    display: flex;
    align-items: center;
}


.nav-actions {
    display: flex;
}

.nav-links a {
    padding: 1.5rem 0;
    margin-left: 1rem;
    text-decoration: none;
    position: relative;
    color: black;
}

.nav-actions a {
    padding: 1.5rem 0;
    margin-left: 1rem;
    text-decoration: none;
    position: relative;
    color: black;
}

.nav-link:hover::after,
.nav-action a:hover::after {
    content: "";
    height: 5px;
    width: 100%;
    background-color: rgb(155, 196, 139);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .2s ease-in-out;
}

.active-router::after {
    content: "";
    height: 5px;
    width: 100%;
    background-color: rgb(155, 196, 139);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .2s ease-in-out;
}

.header-menu {
    display: none;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
}

.shopping-btn {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.shopping-btn .icon {
    font-size: 25px;
}

.sticky-pin {
    padding: 2px 5px;
    color: white;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    top: 19%;
    right: -9px;
    font-size: 13px;
}

/* header end */

@media (max-width:600px) {


    .header-menu {
        display: block;
    }

    .hero .hero-text {
        background-color: rgba(255, 255, 255, 0.787);
        padding: 2rem;
        width: 90%;
    }

    .section-title::after {
        content: "";
        height: 5px;
        width: 90px;
        transform: translateX(70%);
    }

    .nav-menu {
        display: flex;
    }

}