<header class="container">
    <a routerLink="/" class="logo">
        <h1>Bookly</h1>
    </a>
    <div class="nav-links">
        <a routerLinkActive="active-router" routerLink="/books/browse" class="nav-link">Discover</a>
        <a routerLinkActive="active-router" routerLink="/books/featured" class="nav-link">Featured</a>
        <a routerLinkActive="active-router" routerLink="/books/newest" class="nav-link">Newest</a>
        <a routerLinkActive="active-router" routerLink="/books/best-sellers" class="nav-link">Best sellers</a>
        <a routerLinkActive="active-router" routerLink="/authors" class="nav-link">Authors</a>
    </div>
    <div class="nav-actions">
        <div class="shopping-btn" *ngIf="isAuthenticated$ | async">
            <a *ngIf="cart$ | async as cart" (click)="toggleCart($event)">
                <span class="material-symbols-outlined icon">
                    shopping_bag
                </span>
                <span class="sticky-pin"> {{ cart.items.length }}</span>
            </a>
            <a (click)="toggleWishlist($event)">
                <span class="material-symbols-outlined icon">
                    favorite
                </span>
            </a>
            <a class="account-icon">
                <span class="material-symbols-outlined icon" (click)="toggleAccount()">
                    person
                </span>
                <div class="account-dropdown" *ngIf="accountToggled">
                    <a>Account settings</a>
                    <a>Account settings</a>
                    <a (click)="logout($event)">Logout</a>
                </div>
            </a>

        </div>
        <a routerLink="login" class="nav-link" *ngIf="!(isAuthenticated$ | async)">Login</a>
        <a routerLink="register" class="nav-link" *ngIf="!(isAuthenticated$ | async)">Regiter</a>
        <a class="nav-link header-menu" (click)="openMenu()">
            <span class="material-symbols-outlined"
                [ngStyle]="{ 'transform' : menuOpened ? 'rotate(90deg)' : 'rotate(180deg)' }">
                {{ menuOpened ? 'close' : 'menu' }}
            </span>
        </a>
    </div>
    <!-- in small screen -->
    <div class="nav-links nav-menu" [ngStyle]="{'transform':menuOpened ? 'translateY(0)' : 'translateY(-150%)' }">
        <a routerLink="/books/browser" class="nav-link">Discover</a>
        <a routerLink="/books/featured" class="nav-link">Featured</a>
        <a routerLink="/books/newest" class="nav-link">Newest</a>
        <a routerLink="/books/best-sellers" class="nav-link">Best sellers</a>
        <a routerLink="/authors" class="nav-link">Authors</a>
    </div>
    <!-- in small screen end -->
</header>
<!-- heade end -->