/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    margin-bottom: 3rem;
}


@media screen and (max-width:500px) {
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 20px;
    }
    .wrapper {
        padding: 2%;
    }
}

i{
    font-size: 25px;
    vertical-align: middle;
}