* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    transition: all .2s ease-in-out;
}

body {
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

.container {
    padding-right: 5%;
    padding-left: 5%;
    max-width: 1350px;
    margin: 0 auto;
}

.section-title {
    padding: 1rem 0;
    position: relative;
    margin-bottom: 1.5rem;
}

.section-title::after {
    content: "";
    height: 5px;
    width: 90px;
    background-color: rgb(155, 196, 139);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: .2s ease-in-out;
}

section {
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(221, 221, 221);
}


/* hero */
.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    background-image: url("assets/hero-cover.webp");
    background-size: cover;
    background-position: center;
    padding: 0 7rem;
}

.hero-text h1:first-child {
    font-weight: 100;
}

.button {
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    border: none;
    margin-top: 1rem;
}

/* hero end */
/* categories */

.categories {
    display: flex;
    gap: 1rem;
}

.categories .item {
    padding: 1rem;
    background-color: rgb(230, 230, 230);
    min-width: 200px;
    /* categories end */

}

.categories .item i {
    font-size: 35px;
    /* categories end */
}

/* books grid */

.books-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* book grid end */

/* authros */
.authors-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.authors-grid .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    max-width: 250px;
    padding: 1rem;
    flex-grow: 1;
}


.authors-grid .item:hover {
    outline: 1px solid black;
}




.authors-grid img {
    background-color: #d8d8d8;
    height: 120px;
    border-radius: 200px;
    margin-bottom: 0.5rem;
}

/* authros end */

/* newsletters */
.newsletters {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.newsletters .form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.newsletters .form input {
    padding: 0.7rem 2rem;
    outline: none;
}

.newsletters .form button {
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    border: none;
}

.newsletters .form button:hover {
    background-color: #535353;
    cursor: pointer;
}

/* newsletters end */

/* footer */
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-top: 2rem;
}

.footer .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .col a {
    text-decoration: none;
    color: #333;
}

/* footer end */

/* discover */
.discover {
    display: flex;
    gap: 1rem;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
}

.filter .filter-section {
    display: flex;
    flex-direction: column;
}


.filter .filter-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter .filter-section select {
    padding: 0.5rem 2rem;
}

.filter .filter-section select option {
    padding: 0.5rem 2rem;
}

/* discover end*/

@media (max-width:900px) {

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .books-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width:600px) {


    section {
        padding: 1rem 0;
    }

    .header-menu {
        display: block;
    }

    .hero .hero-text {
        background-color: rgba(255, 255, 255, 0.787);
        padding: 2rem;
        width: 90%;
    }

    .section-title::after {
        content: "";
        height: 5px;
        width: 90px;
        transform: translateX(70%);
    }

    header {
        position: relative;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        flex-direction: column;
        z-index: 1;
        transform: translateY(-150%);
    }

    .nav-links a {
        background-color: #ffffff;
        width: 100%;
        border-bottom: 1px solid rgb(228, 228, 228);
        margin: 0;
        text-align: center;
    }


    .container {
        padding-right: 2%;
        padding-left: 2%;
    }

    .hero {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .categories {
        flex-direction: column;
    }

    .categories .item {
        min-width: 100%;
    }

    .books-grid {
        grid-template-columns: 1fr 1fr;
    }

    .footer {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }

    .footer .col {
        text-align: center;
    }

    .filter {
        width: 100%;
    }
}