.hero {
    background-image: url('../../../assets/hero-cover.webp');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    width: 50%;
    margin-left: 4rem
}

.promotion {
    color: red;
}

h1 {
    font-weight: bolder;
}

@media (max-width:600px) {
    .hero {
        background-position: 60%;
        padding: 1rem;
        align-items: center;
    }

    .hero-text {
        width: 90%;
        background-color: rgba(255, 255, 255, 0.759);
        padding: 1rem;
        margin: 0;
        text-align: center;
    }
}